{% extends 'base/index.html' %}
{% load static %}
{% block title %}
Expenses | {{site_name}}
{% endblock title %}

{% block styles %}
<link href="{% static 'main/css/common.css' %}" rel="stylesheet" />
{% endblock styles %}

{% block content %}
<div class="container mt-3">
    {% include 'base/messages.html' %}
    <div class="row">
    <div class="col">
        <div class="container nvsmain pt-2 pb-1">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Expenses</a></li>
                    <li class="breadcrumb-item active" aria-current="page">My Expenses</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="col-md-2">
        <a href="{% url 'add-expense' %}" class="btn btn-primary">Add Expenses</a>
    </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-7 m-1">
            <div class="row">
                <div class="col">
                    <a target="_blank" href="{% url 'expenses-export-pdf' %}" class="btn btn-primary btn-sm">Export PDF</a>
                </div>
                <div class="col">
                    <a href="{% url 'expenses-export-csv' %}" class="btn btn-secondary btn-sm">Export CSV</a>
                </div>
                <div class="col">
                    <a href="{% url 'expenses-export-excel' %}" class="btn btn-info btn-sm">Export Excel</a>
                </div>
    

            </div>
        </div>
        <div class="col-md-4">
            <div>


            <div class="form-group">
                <input type="text" class="form-control" id="searchfield" placeholder="Search">
            </div>
        </div>
    </div>
    </div>

    <div class="container table-start mt-2">
        {% if expenses.count %}
        <table class="table table-stripped table-hover">
            <thead>
                <tr>
                    <th>Amount ({{currency}})</th>
                    <th>Category</th>
                    <th>Decreption</th>
                    <th>Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for expense in page_obj %}
                <tr>
                    <td>{{expense.amount}}</td>
                    <td>{{expense.category}}</td>
                    <td>{{expense.decription}}</td>
                    <td>{{expense.date}}</td>
                    <td><a class="link" href="{% url 'expense-edit' expense.id %}"><span data-feather="edit" class="align-text-bottom"></span></a></td>
                </tr>
                {% endfor %}
                <tr class="table-primary">
                    <td>TOTAL : </td>
                    <td>{{sum}}</td>
                </tr>
            </tbody>
        </table>
        {% endif %}
    </div>
    <p class="no-results" style="display: none;">No results </p>
    <div class="table-search">
        <table class="table table-stripped table-hover">
            <thead>
                <tr>
                    <th>Amount ({{currency}})</th>
                    <th>Category</th>
                    <th>Decreption</th>
                    <th>Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="t-body">

            </tbody>
        </table>
    </div>

        <div class="pagenation-container row p-1">
        <div class="col">
            Showing page <b><a class="text-decoration-none">{{page_obj.number}}</a></b>  of <b><a class="text-decoration-none">{{page_obj.paginator.num_pages}}</a></b>
        </div>
        <div class="col">
        <ul class="pagination align-right float-end mr-auto">
            {% if page_obj.has_previous %}
            <li {% if page_obj.number == 1 %} class="page-item active" {% endif %}><a class="page-link" href="?page=1">&laquo; 1</a></li>
            <li class="page-item"> <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
            {% endif %}
      
            {% if page_obj.has_next %}
            <li class="page-item"> <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
            <li class="page-item"> <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages}} &raquo;</a></li>
            {% endif %}  
        </ul>
        </div>
        </div>
</div>
{% endblock content %}

{% block scripts %}
<script src="{% static 'userexpense/js/main.js' %}"></script>
{% endblock scripts %}