{% extends 'allauth/base.html' %} 
{% load static %} 
{% block title %} Reset Password | {{site_name}} {% endblock %}


{% block content %}
<div class="container">
<div class="row mt-4">
  <h1 class="text-center">Welcome to <span class="title-h">{{site_name}}</span>!</h1>
</div>
<div class="row d-flex justify-content-center mt-3">
  <div class="col-md-7 col-sm-10">
    <div class="card mt-5 p-2">
      <div class="card-body">
        <div class="text-center">
          <div class="card-title">
            <h3>Please enter your email for reset link</h3>
          </div>
        </div>
        <form action="{% url 'reset-password' %}" method="post">
          {% csrf_token %} 
          {% include 'base/messages.html' %}
          <div class="form-group mb-2">
            <label for="inputemail">Email address</label>
            <input
              type="email"
              name="email"
              placeholder="abc@gmail.com"
              class="form-control"
              id="inputemail"

              value="{{ values.email }}"
            />
          </div>
          <input
            type="submit"
            value="Submit"
            class="btn btn-primary submit-btn w-100 mt-3"
          />
        </form>
        <div class="text-center mt-2">
          <span class="text-lead">Already have an acccount? </span><a href="{% url 'login' %}" >Login</a><br >
          <span class="text-lead">Don't have an acccount? </span><a href="{% url 'register' %}" >Register</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}