{% extends 'base/index.html' %}
{% load static %}
{% block title %}
Edit Income | {{site_name}}
{% endblock title %}

{% block styles %}
<link href="{% static 'main/css/common.css' %}" rel="stylesheet" />
{% endblock styles %}

{% block content %}
<div class="container mt-3">
<div class="row">
    <div class="col-md-9">
        <div class="container nvsmain pt-2 pb-1">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'income' %}">Income</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Edit Income</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="col-md-2">
        <a class="btn btn-danger" href="{% url 'income-delete' income.id %}"><span data-feather="trash" class="align-text-center"></span>Delete</a>
    </div>
</div>

<div class="card mt-3">
    <div class="card-body">
            <form action="{% url 'income-edit' income.id %}" method="post">
            {% csrf_token %}
            {% include 'base/messages.html' %}
            <div class="form-group mb-2">
                <label for="inputamount">Amount</label>
                <input type="number" class="form-control form-control-sm" name="amount" id="inputamount" value="{{values.amount}}">
            </div>
            <div class="form-group mb-2">
                <label for="inputdecription">Decription</label>
                <input type="text" class="form-control form-control-sm" name="decription" id="inputdecription" value="{{values.decription}}">
            </div>
            <div class="form-group mb-2">
                <label for="inputselect">Sources</label>
                <select class="form-control form-control-sm" name="source" id="inputselect">
                    <option selected value="{{values.source}}" name="source">{{values.source}}</option>
                    {% for source in sources %}
                    <option name="source" value="{{source.name}}">{{source.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group mb-2">
                <label for="inputdate">Date of Income</label>
                <input type="date" class="form-control form-control-sm" name="income_date" id="inputdate" value="{{values.date | date:'Y-m-d'}}">
            </div>
            <input type="submit" value="Save" class="btn btn-primary btn-primary-sm">
        </form>
        </div>
    </div>

</div>
{% endblock %}